* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* mobile screens */
@media screen and (max-width:767px) {
  .hero-banner {
    height: 50vh;
    padding: 30px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-section p {
    padding-left: 5px;
  }

  .portfolio {
    float: none;
    display: grid;
    flex-direction: column;
  }
}

/* medium and tablet screens */
@media screen and (min-width: 768px) {
  body {
    padding: 30px;
  }

  .hero-banner {
    padding: 30px;
  }
}

/* Desktop and larger screens */
@media screen and (max-width: 1100px) {
  body {
    padding: 30px;
  }

  .hero-banner {
    padding: 30px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Typography styles */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header styles */

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo {
  font-size: 32px;
  color: white;
  font-weight: 800;
}

.navbar a{
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-left: 30px;  
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background:white;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;

}
/* Hero section style*/

.hero-banner {
  height: 60vh;
  background-color: beige;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  
}

section .caption
{
  padding: 10px 20px;
  background-color: black;
}

section .main-intro {
  color: aliceblue;
  font-size: 60px;
}

.secondary-intro a {
  text-decoration: none;
  color: aliceblue;
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
}

.secondary-intro a:hover {
  transform: scale(1.2);
} 

section .secondary-intro {
  display: flex;
  align-items:flex-end;
  justify-content: flex-start;
  padding: 10px;
}

/* main content */
main {
  /* height: 60vh; */
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  }

/* About Section */


.about-section {
  height: 200px;
  padding: 20px;
  display: flex;
  align-items:center;
  justify-content: space-around;
  background-color: aliceblue;
  
}

.about-section p {
  padding-left: 20px;
  border-left: solid 2px #000000;
}

/* Portfolio setion*/
 .left-column{
  width: 40%;
}
.right-column{
width: 60%;
} 

.portfolio-section {
  padding: 20px;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  background-color: aliceblue;
  
}

.portfolio-section h2{
  display: flex;

}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-left: 60px;
  border-left: solid 2px #000000;

}
.work {
  height: 400px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.work:first-child{
  grid-column: span 3; 
}

 #work1 {
  margin-top:20px;
  width: 100%;
  background-image: url("../images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#work2 {
  margin-top: 20px;
  background-image: url("../images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#work3 {
  margin-top: 20px;
  background-image: url("../images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#work4 {
  margin-top: 20px;
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#work5 {
  margin-top: 20px;
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  background: rgba(0, 0, 0, 0.695);
  width: 100%;
  padding: 20px 40px;
  color: white;
}

.text p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.text h2 {
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Contact section */

.contact-section {
  padding: 5%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.contact-section a {
  padding-left: 20px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-items:center;
}

.footer-menu {
  display:flex;

}
